@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto';
}

.upper-section{
    padding:16px 150px;
    background-color: #1f2937;
} 

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right-bar ul{
    display: flex;
    gap: 16px;
}

.top-text{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    align-items: center;
    gap: 20px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAf8;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

.right-bar, .hero-side{
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAf8;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    font-weight: 800;
    margin-top: 20px;
}

.sign-up:hover{
    background-color: #0a5ada;
    cursor: pointer;

}

.sun-image{
    border: 2px solid white;
}

.hero-side{
    margin-top: 10px;
}

.head-info{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.up-middle{
    display: flex;
    flex-direction: column;
}